<h1>Hover HighLight Directive</h1>
<p appHoverLighlight highlightColor="red">red</p>
<p appHoverLighlight highlightColor="pink">pink</p>
<p appHoverLighlight highlightColor="blue">blue</p>

<h1>Text Transform Directive</h1>
<p appTextTransform transformType="uppercase">uppercase</p>
<p appTextTransform transformType="lowercase">lowercase</p>
<p appTextTransform>capitalize</p>

<h1>Click Outside Directive</h1>
<p appClickOutside>Click outside me</p>

<h1>Focus On Directive</h1>
<input type="text" appFocusOn />
